.product_card{
    width: 250px;
    border: 1px solid lightskyblue;
    border-radius: 12px;
   
    margin: 10px 0px 5px 10px;
}
.product_card_details{
    padding: 20px 10px;
}
.product_card>img{
    width: 100%;
    height: fit-content;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.product_card_brand{
     font-size:16px ;
}
.product_card_title{
    font-size: 22px;
    font-weight: 600;
}
.product_card_price{ 
    font-size: 20px;
}